*{
    margin: 0;
    padding: 0;
}

#logo{
    height: 11vh;
}

.navigation{
    margin-top: 23px;
    font-family: var(--font2);
    font-weight: bold;
    /* height: 74px; */
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left{ 
    display: flex;
}

.nav-left span{
    font-size: 35px;
    padding-bottom: 3px;
}

.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 25px;
    font-weight: bold;
}

.nav-left ul li{
    /* font-size: ; */
    list-style: none;
    margin: 0 14px;
    font-family: var(--font1);
    transition: all 0.3s ease-in-out;
}
.nav-left ul li:hover{
    transform: scale(1.2);
}

.nav-left ul li a{
    text-decoration: none;
    color: black;
}

.nav-left ul li a:hover{
    color: var(--main-bg-color);
}

.content{
    display: flex;
    height: 395px;
    position: relative;
    margin-top: 32px;
    padding: 9px;
    /* background-color: rgb(186, 223, 223); */
}

.content::after{
    content: "";
    background-image: url(../images/4.jpg) ;
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15 ;
    border-radius: 12px;
}

.content-left{
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 50px;
    z-index: 1;
}

.content-right{
    width: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img{
    height: 300px;
    border: 2px solid black;
    border-radius: 200px;
}

.home-articles{
    /* height: 455px; */

    padding: 18px;
    margin-top: 23px;
    background-color: rgb(220 245 244 / 50%);
    position: relative;
}

.year-box {
    position: absolute;
    width: 234px;
    height: 255px;
    top: 18px;
    right: 0;
    font-size: 14px;
    /* background-color: red; */
}

.year-box div{
    margin: 12px 0px;
}
/* .home-articles{} */
.home-article{
    display: flex;
    margin: 25px;
}

.home-article-img img{
    width: 282px;
}

.home-article-content{
    align-self: center;
    padding: 25px;
}

.home-article-content a{
    text-decoration: none;
    color: black;
    /* color: var(--main-bg-color); */

}

.footer{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    color: white;
    height: 50px;
    background-color: var(--main-bg-color )
}

.footer a{
    color: white;
}